@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-base {
    @apply w-full rounded-lg border bg-transparent px-4 py-2.5 text-sm shadow-theme-xs border-border text-gray-800 placeholder:text-text-disabled focus:border-border-focus focus:outline-none focus:ring focus:ring-ring;
  }
  .input-label-base {
    @apply mb-1.5 block font-medium text-gray-700 text-sm;
  }

  .input-error {
    @apply border-border-error focus:border-border-error focus:ring focus:ring-ring-error;
  }

  .input-success {
    @apply border-border-success focus:border-border-success focus:ring focus:ring-ring-success;
  }

  .input-disabled {
    @apply border-border-disabled text-text-disabled placeholder:text-gray-300 cursor-not-allowed;
  }

  .disabled-area {
    @apply bg-gray-300;
  }

  .tableHeader {
    @apply tableCell sticky top-0 bg-gray-100 border-b-2 border-gray-200 cursor-pointer 
      hover:bg-gray-200 transition-colors z-10 px-4;
  }

  .errorText {
    @apply text-sm mt-1 block text-text-error;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-outfit;
  color: var(--foreground);
  background: var(--background);
}
