@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-base {
    @apply w-full rounded-lg border bg-transparent px-4 py-2.5 text-sm shadow-theme-xs border-border text-gray-800 placeholder:text-text-disabled focus:border-border-focus focus:outline-none focus:ring focus:ring-ring;
  }
  .input-label-base {
    @apply mb-1.5 block font-medium text-gray-700 text-sm;
  }

  .input-error {
    @apply border-border-error focus:border-border-error focus:ring focus:ring-ring-error;
  }

  .input-success {
    @apply border-border-success focus:border-border-success focus:ring focus:ring-ring-success;
  }

  .input-disabled {
    @apply border-border-disabled text-text-disabled placeholder:text-gray-300 cursor-not-allowed;
  }

  .disabled-area {
    @apply bg-gray-300;
  }

  .error-text {
    @apply text-sm mt-1 block text-text-error;
  }

  .helper-text {
    @apply mt-1.5 text-xs;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  width: 100%;
  height: 100%;
}

body {
  @apply font-outfit;
  color: var(--foreground);
  background: var(--background);
  width: 100%;
  height: 100vh;
}
